**/__pycache__/
.eggs/
.idea/
zfit.egg-info/
/.mypy_cache/
*.coverage
/docs/_tmp/
/docs/_tmp/zfit-tutorial/
/.cache/
/.pytest_cache/
/build/
.editorconfig
tmp/*
/utils/ci/.test_examples_env/
/utils/ci/.test_docs_env/
/images/_generated
/.junie/
/examples/plots/
/src/zfit/_version.py
/examples/plots/*
/tests/.benchmarks/
/tests/truth/image_diffs/plotting_extended/extended_False_density_False_diff.png
/tests/truth/image_diffs/plotting_extended/extended_False_density_True_diff.png
/tests/truth/image_diffs/plotting_extended/extended_True_density_False_diff.png
/tests/truth/image_diffs/plotting_extended/extended_True_density_True_diff.png
/tests/truth/image_diffs/plotting_extended/saved_data_extended_True_density_True_diff.png
/.claude/agents/tensorflow-jit-expert.md
/examples/.ipynb_checkpoints/
/CLAUDE.md
/.claude/
