ci:
  autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: [ '--maxkb=1000' ]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        files: ".*\\.(?:tex|py)$"
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: check-ast
      - id: check-docstring-first
  - repo: local
    hooks:
      - id: doc arg replacer
        name: docarg
        entry: utils/api/replace_argdocs.py
        language: python
        always_run: true
        additional_dependencies: [ pyyaml ]

  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.3
    hooks:
      - id: docformatter
        args: [ -r, --in-place, --wrap-descriptions, '120', --wrap-summaries, '120', --pre-summary-space, --black, -- ]

  - repo: local  # intentionally duplicated! If there is a modification from the replace
    hooks:
      - id: doc arg replacer checker
        name: docarg checker
        description: "If this hook modifies, it means that the now modified docstring is
          not compliant with the docformatter."
        entry: utils/api/replace_argdocs.py
        language: python
        always_run: true
        additional_dependencies: [ pyyaml ]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: rst-backticks
      - id: rst-directive-colons

  #  - repo: https://github.com/asottile/pyupgrade
  #    rev: v3.3.1
  #    hooks:
  #      - id: pyupgrade
  #        args: [ --py36-plus ]  # TODO: change fro 3.8? type annotations fail...

  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.4.0
    hooks:
      - id: setup-cfg-fmt
        args: [ --max-py-version=3.11, --include-version-classifiers ]

  # Notebook formatting
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-isort
        additional_dependencies: [ isort==5.6.4 ]

      - id: nbqa-pyupgrade
        additional_dependencies: [ pyupgrade==2.7.4 ]
        args: [ --py36-plus ]

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.49"
    hooks:
      - id: check-manifest
        args: [ --update, --no-build-isolation ]
        additional_dependencies: [ setuptools-scm, setuptools-scm-git-archive ]

  - repo: https://github.com/roy-ht/pre-commit-jupyter
    rev: v1.2.1
    hooks:
      - id: jupyter-notebook-cleanup

  # TODO: 3.8+ only?
  #  - repo: https://github.com/sondrelg/pep585-upgrade
  #    rev: 'v1.0'
  #    hooks:
  #      - id: upgrade-type-hints
  #        args: [ '--futures=true' ]

  - repo: https://github.com/shssoichiro/oxipng
    rev: v8.0.0
    hooks:
      - id: oxipng

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.2
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
      - id: check-dependabot
      - id: check-readthedocs

  - repo: https://github.com/jonasbb/pre-commit-latex-hooks
    rev: v1.4.2
    hooks:
      - id: american-eg-ie
      - id: cleveref-capitalization
      - id: consistent-spelling
        args:
          [
            "--emph=et al.",
            "--emph=a priori",
            "--emph=a posteriori",
            '--regex=naive=\bna(i|\\"i)ve',
          ]
      - id: csquotes
      - id: ensure-labels-for-sections
      - id: no-space-in-cite
      - id: tilde-cite
      - id: unique-labels

  - repo: https://github.com/dannysepler/rm_unneeded_f_str
    rev: v0.2.0
    hooks:
      - id: rm-unneeded-f-str
