ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
  autoupdate_schedule: quarterly
#  skip:
#    - oxipng


repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [ '--maxkb=1000' ]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        files: ".*\\.(?:tex|py)$"
        args: [--markdown-linebreak-ext=md]
        exclude: (^notebooks/|^tests/truth/)
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements


  - repo: local
    hooks:
      - id: doc arg replacer
        name: docarg
        entry: utils/api/replace_argdocs.py
        language: python
        always_run: true
        additional_dependencies: [ pyyaml ]

#  - repo: https://github.com/PyCQA/docformatter
#    rev: v1.7.5
#    hooks:
#      - id: docformatter
#        args: [ -r, --in-place, --wrap-descriptions, '120', --wrap-summaries, '120', -- ]


  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: rst-backticks
      - id: rst-directive-colons

  #  - repo: https://github.com/asottile/pyupgrade
  #    rev: v3.3.1
  #    hooks:
  #      - id: pyupgrade
  #        args: [ --py36-plus ]  # TODO: change fro 3.8? type annotations fail...

  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.5.0
    hooks:
      - id: setup-cfg-fmt
        args: [ --max-py-version=3.12, --include-version-classifiers ]

  # Notebook formatting
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.7
    hooks:
      - id: nbqa-isort
        additional_dependencies: [ isort ]

      - id: nbqa-pyupgrade
        additional_dependencies: [ pyupgrade ]
        args: [ --py36-plus ]

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.50"
    hooks:
      - id: check-manifest
        args: [ --update, --no-build-isolation ]
        additional_dependencies: [ setuptools-scm, setuptools-scm-git-archive ]

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout

  # TODO: 3.8+ only?
  #  - repo: https://github.com/sondrelg/pep585-upgrade
  #    rev: 'v1.0'
  #    hooks:
  #      - id: upgrade-type-hints
  #        args: [ '--futures=true' ]

  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  # todo: needs rust, reactivate?
  #  - repo: https://github.com/shssoichiro/oxipng
  #    rev: v8.0.0
  #    hooks:
  #      - id: oxipng


  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
      - id: check-dependabot
      - id: check-readthedocs


  - repo: https://github.com/dannysepler/rm_unneeded_f_str
    rev: v0.2.0
    hooks:
      - id: rm-unneeded-f-str


  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.6.9"
    hooks:
      - id: ruff
        types_or: [ python, pyi, jupyter ]
        args: [ --fix, --unsafe-fixes, --show-fixes , --line-length=120]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
