include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include requirements.txt
include requirements_dev.txt
include pyproject.toml
include Makefile
include THANKS.rst
include *.rst
include *.txt


recursive-include tests *
recursive-exclude docs/images *
recursive-exclude docs *.rst *.py make_docs.sh Makefile
recursive-exclude docs/.cache *
recursive-exclude docs/_build *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include utils *.sh

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

# added by check-manifest
include *.yaml
include *.yml
recursive-include docs *.bib
recursive-include docs *.css
recursive-include docs *.sh
recursive-include docs *.txt
recursive-include examples *.py
recursive-include examples *.txt
recursive-include utils *.py
recursive-include utils *.yaml
