pip>=9.0.1
setuptools_scm[toml]>=3.4
setuptools_scm_git_archive
bumpversion>=0.5.3
wheel>=0.29.0
watchdog>=0.8.3
flake8>=3.5.0
tox>=2.9.1
coverage>=4.5.1
Sphinx>=3.0.0
pydata-sphinx-theme
sphinx-autodoc-typehints
sphinx-copybutton
twine>=1.10.0
setuptools>=30.3.0
setupext-janitor
check-manifest
pyyaml

pytest>=3.4.2,<5.4  # breaks unittests
pytest-runner>=2.11.1
pytest-rerunfailures>=6
pytest-xdist
pytest-ordering
pytest-randomly
scikit-hep-testdata
pytest-timeout>=1
matplotlib  # for plots in examples
