bumpversion>=0.5.3
check-manifest
coverage>=4.5.1
docformatter
flake8>=3.5.0
ipyopt<0.12
Jinja2<3  # temp fix for failing, meta not known
jupyter-sphinx
matplotlib  # docs
mplhep  # docs
myst-nb
pip>=9.0.1
pre-commit
pydata-sphinx-theme~=0.5.2
pygit2
pyyaml
seed_intersphinx_mapping
setupext-janitor
setuptools>=30.3.0
setuptools_scm[toml]>=3.4
setuptools_scm_git_archive
Sphinx~=3.5.4
sphinx-autodoc-typehints
sphinx-copybutton
tox>=2.9.1
twine>=1.10.0
watchdog>=0.8.3
wheel>=0.29.0
