bumpversion>=0.5.3
check-manifest
coverage>=4.5.1
coverage-lcov
# coverage-lcov  # reactivate once https://github.com/TheCleric/coverage-lcov/issues/6 resolved (remove it CI)
docformatter
flake8>=3.5.0
jax<=0.4.28  # we need to pin jax, otherwise jaxlib won't be compatible
jaxlib
jaxlib<=0.4.28  # yes, needed, both! Otherwise, it fails with "jaxlib" not in list...
Jinja2
jupyter-sphinx
matplotlib  # docs, tests
mplhep  # docs
myst-nb
numba-stats  # hack for pypi release, doesn't allow git repos @ git+https://github.com/HDembinski/numba-stats.git  # CMSShape not yet released (expected 1.8.0)
pip>=9.0.1
pre-commit
progressbar2
pydata-sphinx-theme>=0.9  # new dark theme configuration
pygit2
pyhf>=0.7.0  # for comparison of correctness
pytest-benchmark
pytest-cases
pytest-helpers-namespace
pyyaml
seed_intersphinx_mapping
setupext-janitor
setuptools>=30.3.0
setuptools_scm[toml]>=3.4
setuptools_scm_git_archive
Sphinx>=5.0.0
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-panels
sphinx_togglebutton
sphinxcontrib-applehelp>1.0.8
sphinxcontrib-bibtex
sphinxcontrib-youtube>=1.0.0
tox>=2.9.1
twine>=1.10.0
watchdog>=0.8.3
wheel>=0.29.0
zfit-physics>=0.6.0  # docs
