colorama
colored
colorlog
iminuit>=2.3
ipyopt
nlopt
numdifftools
numpy>=1.16
ordered-set
pandas
scipy>=1.2
tabulate
tensorflow~=2.4
tensorflow-addons
tensorflow_probability~=0.12
texttable
uproot>=4,<5
dotmap
