name: unittests

on: [push, pull_request]

jobs:
    tests_graph:
        runs-on: ubuntu-latest
        timeout-minutes: 150
        strategy:
            max-parallel: 4
            fail-fast: False
            matrix:
                python-version: [ 3.6, 3.7, 3.8 ]
        name: JIT compiled tests for Python ${{ matrix.python-version }}
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-python@v2
              name: Set up Python ${{ matrix.python-version }}

              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
            #            - name: Lint with flake8
            #              run: |
            #                  pip install flake8
            #                  # stop the build if there are Python syntax errors or undefined names
            #                  # flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
            #                  # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
            #                  flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
            - name: Test with pytest
              run: |
                  pip install --use-feature=2020-resolver .[dev]
                  coverage run --source=. --omit=".tox/*,*/test*,*/minimizers/interface.py,*/core/testing.py" --branch -m pytest .
                  coverage report

                  bash utils/ci/test_examples.sh
                  bash utils/ci/test_tutorials.sh

                  bash utils/ci/testbuild_docs.sh

    tests_eager:
        runs-on: ubuntu-latest
        timeout-minutes: 40
        strategy:
            max-parallel: 4
            fail-fast: False
            matrix:
                python-version: [ 3.6, 3.7, 3.8 ]
        name: Eager mode tests for Python ${{ matrix.python-version }}
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-python@v2
              name: Set up Python ${{ matrix.python-version }}

              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
            - name: Test with pytest
              run: |
                  pip install --use-feature=2020-resolver .[dev]
                  ZFIT_DO_JIT=0
                  coverage run --source=. --omit=".tox/*,*/test*,*/minimizers/interface.py,*/core/testing.py" --branch -m pytest .
                  coverage report

                  bash utils/ci/test_examples.sh
                  bash utils/ci/test_tutorials.sh
